@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


:root {
    --cor-1: #C7031B;
    --cor-2: #fff;
    --cor-3: #000;
    --cor-4: #fffb0a;
    --cor-5: #07acff;
    --cor-6: #ff0062;
    --cor-7: #31ff16;
    --fonte-prin: 'Amarante', cursive;
    --fonte-jornal: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-prin);
    background-image: url('../img/redbelly.webm');
    background-size: cover;
    width: 100%;
    height: auto;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.content h1 {
    user-select: none;
    margin: 0 auto;
    font-size: 80px;
    color: var(--cor-2);
    margin-bottom: 50px;
    font-weight: 100;
    position: absolute;
    top: 100px;
    z-index: 1;
    opacity: 1;
}

.content h2  {
    user-select: none;
    margin: 0 auto;
    font-size: 88px;
    color: var(--cor-1);
    margin-bottom: 50px;
    font-weight: 100;
    position: absolute;
    top: 100px;
    z-index: 2;
    justify-content: center;
    align-items: center;
}


.content a {
    padding: 15px 25px;
    font-size: 23px;
    color: var(--cor-2);
    text-decoration: none;
    border: 2px solid var(--cor-2);
    border-radius: 50px;
    transition: 0.3s;
    z-index: 2;
    


}
 
 
.content a:hover {
    background-color: var(--cor-2);
    color: var(--cor-1);

}

.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.card {
    width: 450px;
    height: 275px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(../img/noticia1.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.67;
    transition: all 0.4s ease;




}

.header {
    background-color: var(--cor-3);
    display: flex;
    height: 40px;
    justify-content: space-around;
    align-items: center;
     

}


nav {
    grid-column: 1;
    display: flex;
    justify-content: space-around;
}

.coisas {
    width: 100px;
    height: auto;
    justify-content: space-between;
}
nav a {
    text-decoration: none;
    color: var(--cor-2);
}

.zike-logo {
    grid-column: 2;
}

.button {
    grid-column: 3;
}

.jornal {
    font-size: 25px;
    color: var(--cor-2);
    margin-bottom: 50px;
    font-weight: 100;
    position: absolute;
    top: 10px;
    z-index: 1;
    


}

 

 

.button {
    width: 100px;
}

.noticia-principal {
    width: 60%;
    height: auto;
    margin: 0 auto;
     
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}



.txt-news {
    width: 90%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vh;
    
}

.txt-news h1 {
    text-align: center;
}

.txt-news h4 {
    text-align: center;
}

.img-principal {
    width: 80%;
    height: 90vh;
    margin-top: 5vh;
}

.img-principal img {
    width: 100%;
    height: 100%;
}
.img-boot{
    width: 80%;
    height: 130vh;
}
.img-boot img{
    width: 100%;
    height: 100%;
}
.img-amine{
    width: 80%;
    height: 100vh;
}
.img-amine img {
    width: 100%;
    height: 100%;
}

.texto-principal {
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: left;
    margin-top: 5vh;
}

.caixinha-news{
    width: 60%;
    height: 60vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 5vh auto 0;
    border-radius: 15px;
  
}

.caixa{
    width: 30%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 6px 5px 4px  var(--cor-3);
    transition: all 0.4s ease;
     
    
    

}
.caixa:hover{
    transform: scale(1.1);
}
.caixa-img{
    width: 100%;
    height: 100%;
 
   
}
 
.caixa-img img{
    width: 100%;
    height: 100%; 
    border-radius: 15px;
    opacity: 0;
}
#img1{
    background-image: url('../img/noticia2.jpg');
    background-size: cover;
    background-position: center;
    animation-name: img1-animation;
    animation-duration: 5s;
    animation-delay: 1.9s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    border-radius: 15px;
    

}
#img2{
    background-image: url('../img/noticia3.jpeg');
    background-size: cover;
    background-position: center;
    animation-name: img2-animation;
    animation-duration: 5s;
    animation-delay: 1.9s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    border-radius: 15px;
}
#img3{
    background-image: url('../img/noticia4.webp');
    background-size: cover;
    background-position: center;
    animation-name: img3-animation;
    animation-duration: 5s;
    animation-delay: 1.9s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    border-radius: 15px;
}
#img4{
    background-image: url('../img/noticia4.webp');
    background-size: cover;
    background-position: center;
    animation-name: img4-animation;
    animation-duration: 5s;
    animation-delay: 1.9s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    border-radius: 15px;
}
.txt-caixa{
    width: 100%;
    height: 50%;
    margin-top: 5px;
    
}
.txt-caixa a{
 text-decoration: none;
 font-size: 15px;
 color: var(--cor-3);
}

.texto-principal p {
    
    font-size: 15px;
    font-family: var(--fonte-jornal);

}

#box-noticia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    top: calc(50% - 305px);
    left: calc(50% - 480px);
    display: none;
    gap: 50px;
    


}

#box-noticia a {
    text-decoration: none;
}

.card1,
.card3 {
    display: block;
    margin: 10px 5px auto auto;
}

.card2,
.card4 {
    display: block;
    margin: 10px auto auto 5px;
}


.card1 {
    background-image: url(../img/noticia1.jpg);
    grid-column: 1;
    grid-row: 1;

}

.card2 {
    background-image: url(../img/noticia2.jpg);
    grid-column: 2;
    grid-row: 1;

}

.card3 {
    background-image: url(../img/noticia3.jpeg);
    grid-column: 1;
    grid-row: 2;

}

.card4 {
    background-image: url(../img/noticia5.webp);
    grid-column: 2;
    grid-row: 2;
    background-position: top;

}



.card:hover {
    opacity: 1;
    transform: scale(1.1);
}


.amine-title {
    color: var(--cor-6);
}

.amine-text {
    color: var(--cor-3);

}


.suf-title {
    color: var(--cor-3)
}

.suf-text {
    color: var(--cor-2)
}

.jemappelle-title {
    color: var(--cor-7);
}

.jemappelle-text {
    color: var(--cor-4);
}

.louis-title {
    color: var(--cor-2);
}

.louis-text {
    color: var(--cor-5);
}



@media (max-width: 1500px) {
    
    #box-noticia{
        flex-direction: column;
    }
    #logo{
        text-align: center;
        width: 100px ;
        margin: 0 auto;
    }
    #logo2{
        text-align: center;
        margin: 0 auto;
    }

    .img-principal{ width: 70vw;
        height: auto;
      
    } 
    .img-amine{
        width: 70vw;
        height: auto;
    }
    .img-boot{
        width: 70vw;
        height: auto;
    }
    .container-yakuza {
        display: flex;
        flex-direction: column;
        width: 1000px;
        height: 500px;
    }

    .box-principal{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .txt-news{
        margin:200px
    }
    .texto-principal{
        height: 60vh;
        margin-top: 90px;
    }
    @keyframes aparece-box {
        0% {
            opacity: 0;
            display: none;
        }
    
        100% {
            opacity: 1;
            display: flex;
            flex-direction: column;
        }
    }
}

@media (min-aspect-ratio:16/9) {
    .background-clip {
        width: 100%;
        height: auto;
    }

}

@media (max-aspect-ratio:16/9) {
    .background-clip {
        width: auto;
        height: 100%;
    }
}

@keyframes esconde-more {
    0% {
        opacity: 1;
        display: inline;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes some-logo {
    0% {
        opacity: 1;
        display: inline;
    }

    100% {
        opacity: 0;
        display: none;
    }

}

@keyframes some-logo2 {
    0% {
        opacity: 1;
        display: inline;
    }

    100% {
        opacity: 0;
        display: none;
    }

}

@keyframes aparece-box {
    0% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 1;
        display: grid;
    }
}
@keyframes img1-animation{
    0%{
        background-image: url('../img/noticia2.jpg');
    }
    50%{
        background-image: url('../img/suf.jpg');
        background-position: top;
    
    }
    100%{
        background-image: url('../img/suf3.webp');
        background-position: center;
    
    }
}
@keyframes img2-animation{
    0%{
        background-image: url('../img/noticia3.jpeg');
    }
    50%{
        background-image: url('../img/jema2.jpg');
        background-position: top;
    }
    100%{
        background-image: url('../img/jema4.jpg');
        background-position: center;
    
        
    }
}
@keyframes img3-animation{
    0%{
        background-image: url('../img/noticia4.webp');
        
    
    }
    50%{
        background-image: url('../img/louis2.webp');
        background-position: top;
    
    }
    100%{
        background-image: url('../img/louis3.webp');
        background-position: center;
    
    }
}
@keyframes img4-animation{
    0%{
        background-image: url('../img/noticia1.jpg');
        
    
    }
    50%{
        background-image: url('../img/amine.webp');
        background-position: top;
    
    }
    100%{
        background-image: url('../img/amine1.webp');
        background-position: center;
    
    }
}