@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

:root {
    --cor-1: #C7031B;
    --cor-2: #fff;
    --cor-3: #000;
    --cor-4:  #fffb0a;
    --cor-5: #07acff;
    --cor-6: #ff0062;
    --cor-7: #31ff16;
    --fonte-prin: 'Amarante', cursive;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-prin)
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
   align-items: center; 
    justify-content: center;
}

.content {
    justify-content: center;
    text-align: center;   
    align-items: center;
}

.content h1 {
    user-select: none;
    left: 45vw;
    font-size: 80px;
    color: var(--cor-2);
    margin-bottom: 50px;
    font-weight: 100;
    position: absolute;
    top: 100px;
    z-index: 1;
    opacity: 1;
}
.content h2 {
    user-select: none;
    left: 44vw;
    font-size: 88px;
    color: var(--cor-1);
    margin-bottom: 50px;
    font-weight: 100;
    position: absolute;
    top: 100px;
    z-index: 2;
}
 

.content a {
    padding: 15px 25px;
    font-size: 23px;
    color: var(--cor-2);
    text-decoration: none;
    border: 2px solid var(--cor-2);
    border-radius: 50px;
    transition: 0.3s;
    z-index: 2;

    
}

.content a:hover {
    background-color:var(--cor-2);
    color: var(--cor-1);

}

.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.card{
    width: 450px;
    height: 275px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(../img/noticia1.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.67;
    transition: all 0.4s ease;

    


}

.header{
    background-color: var(--cor-3);
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.jornal{
    
   
    font-size: 25px;
    color: var(--cor-2);
    margin-bottom: 50px;
    font-weight: 100;
    position: absolute;
    top: 10px;
    z-index: 1;
     

}
.jornal2{
    color: var(--cor-1);
    font-size: 25px;
    margin-bottom: 45px;
    font-weight: 100;
    position: absolute;
    top: 8px;
    z-index: 2;
}

.nav{
    width: 100px;
}
.button{
    width: 100px;
}

.noticia-principal{
    border: 1px solid green;
    height: 85vh;
    width: 43vw;
    margin-left: 5vw;
    margin-top: 40px;
    
}

.noticia-segunda{
    display: inline;
    justify-content: center;
    margin-left: 30px;
    height: 100vh;
    flex-direction: column;
    border: 1px solid red;
    align-self: center;

}

.mini-noticia{
   
   

}
#box-noticia{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    top: calc(50% - 305px);
    left: calc(50% - 480px);
    display: none;
    gap: 50px;


}
#box-noticia a{
    text-decoration: none;
}
.card1, .card3{
    display: block;
    margin: 10px 5px auto auto;
}

.card2, .card4{
    display: block;
    margin: 10px auto auto 5px;
}


.card1{
    background-image: url(../img/noticia1.jpg);
    grid-column: 1;
    grid-row: 1;
     
} 
.card2{
    background-image: url(../img/noticia2.jpg);
    grid-column: 2;
    grid-row: 1;
   
} 
.card3{
    background-image: url(../img/noticia3.jpeg);
    grid-column: 1;
    grid-row: 2;
    
} 
.card4{
    background-image: url(../img/noticia5.webp);
    grid-column: 2;
    grid-row: 2;
    background-position: top;
    
} 



.card:hover{
    opacity: 1;
    transform: scale(1.1);
}


.amine-title {
color: var(--cor-6);
}

.amine-text {
color: var(--cor-3);

}


.suf-title{
    color: var(--cor-3)
}
.suf-text{
color: var(--cor-2)
}

.jemappelle-title{
    color:var(--cor-7);
}
.jemappelle-text{
    color: var(--cor-4);
}

.louis-title{
    color: var(--cor-2); 
}
.louis-text {
    color:var(--cor-5)  ;
}






















@media (min-aspect-ratio:16/9) {
    .background-clip {
        width: 100%;
        height: auto;
    }

}

@media (max-aspect-ratio:16/9) {
    .background-clip {
        width: auto;
        height: 100%;
    }
}

@keyframes esconde-more {
    0%{
        opacity: 1;
        display: inline;
    }
    100%{
        opacity: 0;
        display: none;
    }
}

@keyframes some-logo {
    0%{
        opacity: 1;
        display: inline;
    }
    100%{
        opacity: 0;
        display: none;
    }
    
}

@keyframes some-logo2 {
    0%{
        opacity: 1;
        display: inline;
    }
    100%{
        opacity: 0;
        display: none;
    }
    
}
@keyframes aparece-box {
    0% {
        opacity: 0;
        display: grid;
    }
    100%{
        opacity: 1;
        display: grid;
    }
}